parameters:
    level: 5

    paths:
        - src

    excludePaths:
        - vendor

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: trait.unused
        -
            identifier: catch.neverThrown
        -
            identifier: method.templateTypeNotInParameter

